.full-width{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.half-row{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.top-padding{
    padding-top: 1%;
}

.form-container{
    margin-top: 5%;
}

.fuseButtonZone {
    text-align: center;
    align-items: center;

    #fuseButton {
        width: 10%;
    }
}