.fuseButtonZone {
  text-align: center;
  margin-top: 10px;
}

.form-container {
  text-align: center;
  margin-top: 10px;
}

.matInput {
  margin-left: 1%;
  margin-right: 1%;
}

.cardTitle {
  text-align: center;
  margin-top: 10px;
}

table {
  width: 100%;
}
